extends layout

block content
  img(src="images/logo.png").title
  span#msg_info="対戦を始めます"
  div#container_login.input_group.input_group_lg
    input#name_input(placeholder="なまえをいれてね", maxlength=5).form-control
    input#name_submit(type="submit" value="決定").btn.btn-default

  div#container_ready_to_fight(style="display:none;")
    span#entry_remain(style="display:none")="待機時間：0"
    +hpbar

  div#container_game_board
    div.yomi_outer
      div#yomifuda_area
        div#kaminoku
        div#shimonoku
    div#fuda_area

mixin hpbar()
  ul.gauge_wrap
    li.gauge
      div.gauge_ttl
        span.player_name.red_player="＜募集中＞"
      div.gauge_bg
        div.gauge_main(style="width: 100%;")
    li
      img(src="images/vs.png").img_vs
    li.gauge
      div.gauge_ttl
        span.player_name.blue_player="＜募集中＞"
      div.gauge_bg
        div.gauge_main.gauge_right(style="width: 60%;")
