html {
  touch-action: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/bg.png);
  background-size: cover;
}

a {
  color: #00B7FF;
}

#msg_info {
  position: absolute;
  right: 5px;
  top: 10px;
  opacity: 0;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  font-size: 2.5em;
  padding: 30px;
  margin: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.8);
  background-color: #0033cc;
  background: linear-gradient(#3366ff, #0033cc, #000066);
  /* padding: 12px 16px; */
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.7) inset, 0 0 2px 3px #666666, 0 0 0 6px #ffffff, 0 0 2px 8px #666666;
}

.title {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.player_list {
  text-align: center;
}

.img_vs {
  width: 9%;
}

#result_container {
  display: none;

  position: absolute;
  width: 80%;
  border: 1px solid;
  height: 35%;
  background-color: #000000e3;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 5em;
  color: #fff;
  padding: 40px;
}

.player_result {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
}

.result_detail_outer {
  border: 1px solid;
}

.result_winner {
  text-align: center;
  padding-bottom: 40px;
}

.result_detail_name {
  font-size: 0.4em;
  padding-bottom: 8px;
}

.result_red_player .result_detail_name {
  text-align: left;
  padding-left: 20px;
}

.result_blue_player .result_detail_name {
  text-align: right;
  padding-right: 20px;
}

.result_detail_label {
  font-size: 0.4em;
  padding-top: 8px;
}

.result_detail_value {
  font-size: 0.6em;
  padding-bottom: 8px;
}

#container_game_board {
  display: none;
}

.player_container {
  margin: 0 -20px;
  position: relative;
}

.vs {
  position: absolute;
  right: 0;
  z-index: 3;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 138px;
  top: -20px;
}

.player {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 180px;
  padding: 16px;
}

.red_player {
  background-image: url(../images/red_bg.jpg);
  background-size: cover;
}

.blue_player {
  background-image: url(../images/blue_bg.jpg);
  background-size: cover;
}

.player_name {
  color: #FFFFFF;
  padding: 10px;
  font-size: 3.0em;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.player_hp_value {
  font-family: 'Germania One', cursive;
  font-size: 5em;
  color: #f74747;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  text-shadow: 0 0 42px #000;
}

.hpbar_outer {
  position: relative;
  margin: 0 16px;
  height: 50px;
  width: 80%;
  background: #222222;
}

.red_player .hpbar_outer:after {
  position: absolute;
  content: '';
  height: 50px;
  width: 40px;
  display: block;
  top: 0;
  right: -20px;
  background: #222222;
  transform: skew(30deg);
}

.blue_player .hpbar_outer:before {
  position: absolute;
  content: '';
  height: 50px;
  width: 40px;
  display: block;
  top: 0;
  left: -20px;
  background: #222222;
  transform: skew(-30deg);
}

.hpbar_inner {
  position: absolute;
  height: 40px;
  width: 100%;
  background: -moz-linear-gradient(top, #ffee39, #ff7820);
  background: -webkit-linear-gradient(top, #ffee39, #ff7820);
  background: linear-gradient(to bottom,#ffee39, #ff7820);
}

.red_player .hpbar_inner:after {
  z-index: 1;
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  display: block;
  top: 0;
  right: -12px;
  transform: skew(30deg);
  background: -moz-linear-gradient(top, #ffee39, #ff7820);
  background: -webkit-linear-gradient(top, #ffee39, #ff7820);
  background: linear-gradient(to bottom,#ffee39, #ff7820);
}

.blue_player .hpbar_inner:before {
  z-index: 1;
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  display: block;
  top: 0;
  left: -12px;
  transform: skew(-30deg);
  background: -moz-linear-gradient(top, #ffee39, #ff7820);
  background: -webkit-linear-gradient(top, #ffee39, #ff7820);
  background: linear-gradient(to bottom,#ffee39, #ff7820);
}

.red_player .hpbar_outer {
  float: left;
}

.blue_player .hpbar_outer {
  float: right
}

.red_player .hpbar_inner {
  margin: 5px 0 0 5px;
  left: 0;
}

.blue_player .hpbar_inner {
  margin: 5px 5px 0 0;
  right:0;
}

.player_hp_container {
  position: absolute;
  bottom: 5px;
  z-index: 2;
}

.red_player .player_hp_container {
   left: 50px;
 }

.blue_player .player_hp_container {
  right: 50px;
}

.red_player {
  text-align: left;
}

.blue_player {
  text-align: right;
}

#name_input {
  text-align: center;
  width: 70%;
  height: 110px;
  font-size: 350%;
  margin: auto;
}

#name_submit {
  width: 35%;
  height: 110px;
  font-size: 250%;
  margin: 25px auto;
  display: block;
}


#waiting_container {
  background-color: #00000070;
  color: #fff;
  margin: 0 -20px;
  padding: 20px;
}

#waiting_player {
  font-size: 40pt;
  text-align: center;
  width: 100%;
  display: inline-block;
}

#yomifuda_area {
  margin: 20px;
  padding: 30px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  line-height: 1.5em;
  font-size: 290%;
  height: 175px;
  text-align: center;
}

.yomi_container {
  opacity: 0;
  background-color: #0000007d;
  color: #fff;
  margin: 0 -20px;
}

#fuda_area {
  text-align: center;
  overflow: hidden;
}

.fuda {
  background-color: #f7f2ec;
  width: 20%;
  border: solid 9px #3b6303;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 6px 14px;
  margin: 8px 20px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  line-height: 1.1em;
  font-size: 3.2em;
  letter-spacing: 0;
}

.fuda.red_fuda {
  background: #0bf53f7d;
}

.fuda.blue_fuda {
  background: #2c88ff94;
}

.hand {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 250%;
  opacity: 0;
  overflow: hidden;
}

.batsu {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 100%;
  overflow: hidden;
}

.itoososhi_container {
  position: absolute;
  top: 540px;
}

.itoososhi_red_player {
  position: relative;
  width: 100%;
  height: 100%;
}

.itoososhi_blue_player {
  left: 230px;
  position: relative;
  width: 100%;
  height: 100%;
}

.itoososhi_damage {
  position: absolute;
  top: -130px;

  font-family: 'Germania One', cursive;
  font-size: 15em;
  color: #f74747;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  text-shadow: 0 0 42px #000;
}

.itoososhi_red_player .itoososhi_damage {
  left: 330px;
}

.itoososhi_blue_player .itoososhi_damage {
  left: 155px;
}
