html {
  touch-action: none;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/bg.png);
  background-size: cover;
}

a {
  color: #00B7FF;
}

#msg_info {
  position: absolute;
  right: 5px;
  top: 10px;
  opacity: 0;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  font-size: 2.5em;
  padding: 30px;
  margin: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.8);
  background-color: #0033cc;
  background: linear-gradient(#3366ff, #0033cc, #000066);
  /* padding: 12px 16px; */
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(51, 51, 51, 0.7) inset, 0 0 2px 3px #666666, 0 0 0 6px #ffffff, 0 0 2px 8px #666666;
}

.title {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.player_list {
  text-align: center;
}

.img_vs {
  width: 9%;
}

#result_container {
  display: none;

  position: absolute;
  width: 80%;
  border: 1px solid;
  height: 35%;
  background-color: #000000e3;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 5em;
  color: #fff;
  padding: 40px;
}

.player_result {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
}

.result_detail_outer {
  border: 1px solid;
}

.result_winner {
  text-align: center;
  padding-bottom: 40px;
}

.result_detail_name {
  font-size: 0.4em;
  padding-bottom: 8px;
}

.result_red_player .result_detail_name {
  text-align: left;
  padding-left: 20px;
}

.result_blue_player .result_detail_name {
  text-align: right;
  padding-right: 20px;
}

.result_detail_label {
  font-size: 0.4em;
  padding-top: 8px;
}

.result_detail_value {
  font-size: 0.6em;
  padding-bottom: 8px;
}

#container_game_board {
  display: none;
}

.player_container {
  margin: 0 -20px;
}

.player {
  display: inline-block;
  width: 50%;
  height: 180px;
  padding: 8px;
}

.player_name {
  padding: 10px;
  font-size: 3.0em;
}

.player_hp, .player_hp_label {
  padding: 10px 0;
  font-size: 3.0em;
}

.red_player {
  background-color: #ffacb3;
  text-align: left;
}

.blue_player {
  background-color: #00B7FF;
  text-align: right;
}

#name_input {
  text-align: center;
  width: 70%;
  height: 110px;
  font-size: 350%;
  margin: auto;
}

#name_submit {
  width: 35%;
  height: 110px;
  font-size: 250%;
  margin: 25px auto;
  display: block;
}


#waiting_container {
  background-color: #00000070;
  color: #fff;
  margin: 0 -20px;
  padding: 20px;
}

#waiting_player {
  font-size: 40pt;
  text-align: center;
  width: 100%;
  display: inline-block;
}

#yomifuda_area {
  margin: 20px;
  padding: 30px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  line-height: 1.5em;
  font-size: 290%;
  height: 175px;
  text-align: center;
}

.yomi_container {
  opacity: 0;
  background-color: #0000007d;
  color: #fff;
  margin: 0 -20px;
}

#fuda_area {
  text-align: center;
  overflow: hidden;
}

.fuda {
  background-color: #f7f2ec;
  width: 20%;
  border: solid 9px #3b6303;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 6px 14px;
  margin: 8px 20px;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  line-height: 1.1em;
  font-size: 3.2em;
  letter-spacing: 0;
}

.hand {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 250%;
  opacity: 0;
  overflow: hidden;
}

.batsu {
  position: absolute;
  top: 30px;
  left: 5px;
  width: 100%;
  overflow: hidden;
}


/* HPゲージ */
.gauge_wrap li {
  position: relative;
  display: inline-block;
}

.gauge {
  width: 30%;
}

.gauge_wrap li:first-child {
  margin-right: 10px;
}

.gauge_wrap .gauge_ttl {
  background-color: #000;
  width: 82px;
}

.gauge_wrap .gauge_ttl:after {
  content: "";
  position: absolute;
  left: 82px;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-left: 22px solid #000;
  border-bottom: 22px solid #000;
}

.gauge_wrap .gauge_ttl span {
  padding-left: 5px;
  color: #FFF;
  font-size: 1.2rem;
}

.gauge_wrap .gauge_bg {
  position: relative;
  background: -moz-linear-gradient(top, #555, #222);
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
  border: solid 5px #000;
  width: 300px;
  height: 32px;
}

.gauge_wrap .gauge_main {
  background: -moz-linear-gradient(top, #ffacae, #ff100e);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffacae), to(#ff313d));
  height: 22px;
}

.gauge_wrap .gauge_right {
  background: -moz-linear-gradient(top, #c6faff, #079cff);
  background: -webkit-gradient(linear, left top, left bottom, from(#c6faff), to(#079cff));
}